.aboutContainer {
    width: 80%;
    margin: 0 auto;
    padding: 7rem;
}
.aboutHead {
    text-align: center;
    margin-bottom: 3rem;
}
.aboutHead h3 {
    text-align: center;
}
.aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}
.aboutItem {
    transform: translateX(-25%);
}
.aboutItem h3 {
    margin-top: 3rem;
    text-align: center;
}
.aboutImg1{
    background-image: url(assets/imam.jpg);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.aboutImg2 {
    background-image: url(assets/pfp.png);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.aboutImg3 {
    background-image: url(assets/aji.jpg);
    width: 300px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.contactContainer {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin: 2rem 0;
}
.contactContainer a, .contactContainer p {
    font-size: 1.1em;
    color: hsl(0, 0%, 15%);
}
.contactImg {
    width: 40px;
    height: 40px;
    background-image: url(assets/ig.webp);
    background-position: center;
    background-size: cover;
    align-self: center;
    justify-self: center;
}
.contactImg2 {
    width: 40px;
    height: 40px;
    background-image: url(assets/wa.png);
    background-position: center;
    background-size: cover;
    align-self: center;
    justify-self: center;
}

@media (max-width: 780px) {
    .aboutContent {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}