* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: hsl(0, 0%, 70%);
    margin-bottom: 1rem; 
}
.galContainer {
    width: 80%;
    margin:0 auto;
}
.galDescription {
    max-width: 700px;
    margin: 0 auto 2rem auto;
    font-size: 1.1rem;
    text-align: center;
    color: hsl(0, 0%, 15%);
}
.galGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
.galCard {
    background-color: hsl(0, 0%, 85%);
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    flex-direction: column;
    margin: 2rem 0;
}
.galCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.15);
}
.galCard img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.galCard:hover img {
    transform: scale(1.05);
}
.galCardBody {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.galTitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: hsl(0, 0%, 15%);
}
.galDesc {
    font-size: 0.7rem;
    color: hsl(0, 0%, 15%);
}
@media (max-width: 480px) {
    h1 {
        font-size: 0.7rem;
    }
    .galDescription {
        font-size: 1rem;
    }
}