* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: hsl(0, 0%, 85%);
}


/* Navigasi */

.nav {
    width: 30%;
    height: 100vw;
    background-color: hsl(0, 0%, 15%);
    position: fixed;
    transition: all 0.3s ease;
    z-index: 100;
    top: 0;
    left: 0;
}
ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1.5rem;
    padding: 8rem 4rem;
}
li {
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
.navList {
    text-decoration: none;
    font-weight: 550;
    color: hsl(0, 0%, 80%);
    font-size: 1.5em;
    transition: all 0.3s ease;
}
.navList:hover {
    letter-spacing: 2px;
    color: hsl(24, 60%, 47%);
}
a:active {
    scale: 0.8;
}

.hidden {
    transform: translateX(-100%);
}
.show {
    transform: translateX(0%);
}
.navButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 20%);
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 50;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: all 0.3s ease;
}
.navButton:hover {
    background-color: hsl(24, 60%, 47%);
    scale:1.1;
}
.navButton:active {
    scale:0.9;
}
.navBack {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 80%);
    position: fixed;
    top: 50px;
    left: 50px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navBack:hover {
    background-color: hsl(24, 60%, 47%);
    scale: 1.1;
}
.navBack:active {
    scale: 0.9;
}
.navButton span {
    width: 28px;
    height: 3px;
    background-color: hsl(0, 0%, 80%);
    border-radius: 2px;
}
.navBack .close {
    width: 28px;
    height: 5px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 2px;
    position: absolute;
    transform: rotate(45deg);
}
.navBack .close2 {
    width: 28px;
    height: 5px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 2px;
    position: absolute;
    transform: rotate(135deg);
}

.thinLine {
    height: 2px;
    width: 80%;
    background-color: hsl(24, 60%, 47%);
    margin: 0 auto;
}





/* Footer */


footer {
    background-color: hsl(0, 0%, 20%);
    height: 15vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: hsl(0, 0%, 85%)
}
